* {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: #CCCCCC;
  display: flex;
  flex-direction: row;
  height: 148px;
  justify-content: center;
  width: 100%;
}

.header-children {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3%;
  width: 60%;
}

.header-children a {
  position: relative;
  text-decoration: none;
}

img {
  height: 140px;
}
