* {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: #cf7bb6;
  display: flex;
  flex-direction: row;
  height: 148px;
  justify-content: center;
  width: 100%;
}

.header-nav {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: underline !important;
}

.header-children {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3%;
  width: 60%;
}

.header-children a {
  position: relative;
  text-decoration: none;
}

img {
  height: 300px;
  margin-top: 60px;
}


