.card-item {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #cf7bb6;
}

.div-main {
  background-color: #cf7bb6;
}